@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

html{
  overflow: hidden;
  scroll-behavior: smooth;
}

  * {
    scrollbar-width: auto;
    scrollbar-color: var(--scroll) var(--track);
  }

  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: var(--track);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 10px;
  }

  /* Please don't judge me for how I wrote the css... I was in a hurry =) */

  .dark_mode{
    --deep-blue: #f6f6f6; 
    --near-white: #4e4e4e;   
    --less-white: #ffffff;   
    --easy-blue: #000000;    
    --black: #fff;   
    --nav-shadow: #ffffff40;
    --mist-purple: #646464;
    --deep-blue2: #282160;
    --deep-blue3: #fff;
    --scroll: #fff;
    --button-bg: #fff;
    --button-tx: #000;
    --track: #000;
  }

  :root{
    --deep-blue: #111433;
    --near-white: #f9f9f9;
    --less-white: #f2f5fb;
    --easy-blue: #5e6cfd;
    --black: #000;
    --nav-shadow: #32325d40;
    --mist-purple: #f9f9f9;
    --deep-blue2: #111433;
    --deep-blue3: #111433;
    --scroll: #828282;
    --button-bg: #5e6cfd;
    --button-tx: #fff;
    --track: #f9f9f9;
  }

body { 
  margin: 0;
  font-family: 'Krona One', sans-serif;
  color: var(--deep-blue);
  background-color: var(--near-white);
  letter-spacing: 1px;
}

ul{
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0rem;
}

h1{
  margin: 0;
  font-family: 'Krona One', sans-serif;
}

label{
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  text-wrap: nowrap !important;
  text-align: center;
}

.loading{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  z-index: 9999999;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #fff;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fff;
  }

  .wFill{
    fill: #fff !important;
  }

  .wFillStroke{
    stroke: #fff !important;
    fill: none;
  }

  .wFillDeep{
    fill: var(--deep-blue3) !important;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #fff;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #fff;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #fff;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #fff;
      opacity: 1;
    }
  }
      
.none{
  opacity: 0;
  animation: loader .5s forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  99%{
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
  
}

.firstBanner{
  background: var(--easy-blue);
  min-height: 65vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.nav {
  position: fixed;
  background-color: var(--easy-blue);
  z-index: 9999998;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  top: 0;
  box-shadow: var(--nav-shadow) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-container{
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0 auto;
}

.nav-container > h1 > a{
  color: var(--less-white);
  margin-left: 1rem;
  font-family: Poppins,sans-serif;
  height: fit-content;
  text-decoration: none;
}

.nav-container > ul{
  margin-right: 1rem;
}

.nav-container > ul > li > a {
  color: var(--less-white);
  text-decoration: none;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-container > ul > li > a:hover{
  color: var(--deep-blue);
  transition: all 0.3s ease-in-out;
}

.mobile-nav-container{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.mobile-nav-container > h1 > a{
  color: var(--less-white);
  margin-left: 1rem;
  font-family: Poppins,sans-serif;
  height: fit-content;
  text-decoration: none;
}

.mobile-ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  transform: translateY(-16px);
  width: 100%;
  top: 0;
  left: -100% !important;
  z-index: 999999999999999999;
  background-color: var(--near-white);
  transition: all 0.4s ease-in-out;
  gap: 5rem;
}

.mobile-ul > li > a{
  color: var(--deep-blue);
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
  font-size: 25px;
}

.mobile-hidden{
  left: 0 !important;
  transition: all 0.4s ease-in-out;
}

.close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}



.headings{
  width: 600px;
  height: 100%;
  position: relative;
  margin-top: 5rem;
  margin-left: 12rem;
}


.intro{
  position: absolute;
  top: -30px;
  left: -215px;
}

.intro > *{
  text-align: left;
}

.intro > h2{
  letter-spacing: 3px;
}

.intro > h1{
  font-size: 40px;
  letter-spacing: 4px;
  position: absolute;
  white-space: nowrap;
  left: -3px;
  z-index: 2;
}

.tech-stack{
  display: flex;
  gap: 2rem;
  margin: 5rem 0 5rem 0;
}

.tech-stack div{
  display: flex;
  gap: 2rem;
}

.tech-stack p{
  letter-spacing: 1px;
  font-size: 20px;
}

.tech-stack img{
  transition: all 0.3s ease-in-out;
}

.tech-stack img:hover{
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.top-left{
  position: absolute;
  left: -65%;
  top: -55px;
  width: 90px;
  z-index: 20;
}

.crypto-verse{
  animation: bobbing3 3s infinite;
  width: 90px;
}

.svg0{
  transform: rotate(-20deg) !important;
}

.svg2 {
  transform: rotate(-40deg) !important;
}


.Nighthawk{
  animation: bobbing2 3s infinite;
}

.Cross-City {
  width: 90px;
  animation: bobbing1 3s infinite;
}

.Nexus {
  width: 90px;
  animation: bobbing3 3s infinite;
}

.svg5 {
  transform: rotate(-20deg) !important;
}

.top-right{
  position: absolute;
  right: -65%;
  top: -55px;
  width: 90px;
  z-index: 20;
}

.divider{
  width: 90%;
  height: 6px;
  background-color: var(--deep-blue);
  position: absolute;
  border-radius: 5px;
  top: 50%;
}

.intro > p{
  margin-top: 10rem;
  max-width: 300px;
}

.headings img:first-child{
  left: -520px;
  top: -350px;
  position: absolute;
  transform: scale(1.3);
}

.custom-shape-divider-top-1698207643 .shape-fill {
  fill: var(--easy-blue);
}

.custom-shape-divider-top-1698207643 {
  position: absolute;
  bottom: -249px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1698207643 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 250px;
}

.portfolio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.portfolio > h1{
  margin-top: 13rem;
  position: relative;
}

.portfolio > h1::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--deep-blue);
  border-radius: 5px;
  left: 0;
  top: 40px;
}

.portfolio-display{
  padding: 3rem 6rem;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}

.individual{
  margin: .5rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  background-color: var(--mist-purple);
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 10px;
}

.individual > *{
  width: 47%;
}

.relative > img{
  object-fit: cover;
  max-width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: auto 0;
}

.descriptions{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Jost', sans-serif;
}

.tech-div{
  display: flex;
  justify-content: center;
}

.tech-div > p{
  font-size:20px;
  margin-top: 1.25rem;
  background-color: var(--near-white);
  padding: .5rem;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  width: fit-content;
  display: inline-block;
  margin-left: .5rem;
  font-weight: bold;
  font-family:  Mulish,sans-serif !important;
}


.titles > h1{
  text-wrap: nowrap;
  text-align: center;
}


.titles > h3{
  font-size: 13px
}

.descriptions > p{
  font-size: calc(.55vw + 10px);
  font-weight: 800;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 100%;
}

.buttons > a {
  padding: .65rem 1.2rem;
  border-radius: 20px;
  width: 125px;
  background-color: var(--button-bg);
  color: var(--button-tx);
  border: var(--button-tx) 2px solid;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  text-align: center;
}

.buttons > a:hover{
  background-color: var(--button-tx);
  color: var(--button-bg);
  border: var(--button-bg) 2px solid;
  box-shadow: 5px 3px 10px 0px var(--button-bg);
  transition: all 0.4s ease-in-out;
}

.hidden{
  opacity: 0;
  transition: opacity .4s ease-in-out;
  transform: translateY(35px);
}

.show{
  opacity: 1;
  transform: translateY(0px);
}

.portfolio-divider{
  width: 50%;
  height: 5px;
  background-color: var(--deep-blue);
  border-radius: 5px;
  margin: 1rem;
  align-self: center;
  position: relative;
}

.custom-shape-divider-bottom-1699105515 {
  position: absolute;
  top: -251px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1699105515 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 252px;
}

.custom-shape-divider-bottom-1699105515 .shape-fill {
  fill: var(--deep-blue2);
}

.about-me{
  background-color: var(--deep-blue2);
  position: relative;
  margin-top: 300px;
  display: flex;
  flex-wrap: wrap;
  color: var(--less-white);
  justify-content: center;
  font-family: 'Jost', sans-serif;
  gap: 2rem;
  padding: 2rem;
}

.about-me > h1{
  flex: 0 0 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.about-desc {
  display: flex;
  flex: 0 0 40%;
  max-width: 550px;
  max-height: 495px !important;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-around;
  flex-direction: column;
  max-height: 550px;
}

.about-desc > p{
  text-indent: 50px;
}

.about-pic{
  position: relative;
}

.transform-blob2{
  position: absolute;
  top: -15%;
  left: 35%;
  transform: scale(1.3) translateX(-50%);
}

.about-pic > img{
  width: 100%;
  max-width: 550px;
  max-height: 550px;
  margin-bottom: 10rem;
  border-radius: 100px;
  border: 2px solid var(--near-white);
}

.footer{
  position: absolute;
  bottom: 15px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.relative{
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.transform-blob{
  position: absolute;
  z-index: -1;
  transform: translate(-200px, -200px);
}

.transform-blob > svg{
  overflow: visible;
}

.displayer{
  display: none !important;
}

.hover-svg {
  transition: .3s all ease-in-out;
}

.hover-svg:hover {
  scale: 1.3;
  transition: .3s all ease-in-out;
}

.rotate-180{
  transform: scaleX(-1);
  right: 51px !important;
}

#burger{
  width: 60px;
  position: absolute;
  right: 0;
  cursor: pointer;
}


#first-li{
  width: 50px;
  background-color: var(--less-white);
  height: 5px;
  border-radius: 5px;
}

#first-portfolio {
  padding: initial;
  border-radius: initial;
  width: initial;
  background-color: initial;
  color: var(--less-white);
  border: initial;
  cursor: initial;
  font-size: inherit;
  font-weight: inherit;
  transition: initial;
  text-decoration: initial;
  text-align: initial;
  text-decoration: underline;
}

#first-portfolio:hover{
  background-color: initial;
  color: var(--less-white);
  border: initial;
  box-shadow: none; 
  transform: scale(1.3);
  transition: initial;
  cursor: pointer;
}

#main-picture{
  border-radius: 50%;
  width: 427px;
  margin-left: 50%;
  box-shadow: 0px 0px 40px -10px var(--black);
  border: 1px solid var(--black);
  position: relative;
}

@keyframes bobbing1 {
  0%, 100% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, -14px);
  }
}

@keyframes bobbing2 {
  0%, 100% {
    transform:translate(-7px, 7px); 
  }
  50% {
    transform: translate(7px, -7px);
  }
}

@keyframes bobbing3 {
  0%, 100% {
    transform: translate(0, 13px);
  }
  50% {
    transform: translate(6px, -10px);
  }
}

#dark-mode {
  position: fixed;
  z-index:100;
  top: 85px;
  right: 50px;
}

#dark-mode-overlay {
  position: fixed;
  top: 45px;
  right: 100px;
  width: 1px;
  height: 1px;
  border-radius: 20px;
  animation: glow 1s infinite alternate;
  z-index: 101; 
  box-shadow: 10px 0px 60px 20px rgba(255, 255, 255, 0.5); 
}

@keyframes glow {
  0% {
    box-shadow: 10px 0px 60px 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 10px 0px 100px 50px rgba(255, 255, 255, 0.8); 
  }
}

@media (max-width: 1110px){
  .individual{
    flex-direction: column;
    align-items: center;
    margin: 0rem;
    max-width: 550px;
  }

  .portfolio-display{
    padding: 3rem .25rem;
  }

  .relative{
    min-width: 450px;
  }

  .top-left{
    left: -90%;
  }

  .top-right{
    right: -90%;
  }

  .descriptions{
    min-width: 450px;
  }

  .titles > h1{
    font-size: calc(1vw + 10px);
    text-wrap: nowrap;
    margin: 1.3rem 0rem;
  }

  .titles > *{
    text-align: center;
  }

  .firstBanner{
    min-height: 65vh;
  }

  .headings img:first-child{
    display: none;
  }

  .headings{
    margin-top: 150px;
  }

  .intro{
    transform: scale(1.2);
    left: -110px;
    top: 23px;
    color: var(--less-white);
    z-index: 1;
    margin-left: 2rem;
  }

  .divider{
    background-color:var(--less-white);
  }

  .headings{
    margin-top: 0rem;
  }

  .transform-blob2{
    top: -7%;
    left: 25%
  }

  .about-pic{
    max-width: 450px;
  }

  .about-desc{
    max-height: 450px !important;
    font-size: 16px;
  }

  #main-picture{
    width: 300px;
    margin-left: 15rem;
    margin-top: 5rem;
    z-index: 0;
  }

}

@media (max-width: 885px){
  .about-me{
    flex-direction: column;
  }

  .about-desc{
    max-width: 450px;
    align-self: center;
  }

  .about-pic{
    max-width: 450px;
    align-self: center;
    margin-bottom: 5rem;
  }

  .footer{
    flex-direction: column;
    margin-left: -2rem;
  }

  .footer > ul {
    gap: .65rem;
  }

  .about-me > h1{
    margin-bottom: 1rem;
    font-size: 30px;
  }
}

@media (max-width: 810px){
  .intro{
    transform: scale(.9);
    margin-left: 0rem;
  }

  .headings{
    margin-left:13.5rem;
  }

  .firstBanner{
    min-height: 55vh;
  }

  .top-left, .top-right{
    display: none;
  }

  .transform-blob{
    display: none;
  }

  #blob{
    position: absolute;
    right:-13%;
  }

  #blob4{
    left: 95%;
  }

  #main-picture{
    width: 250px;
    margin-left: 11rem;
  }

}

@media(max-width:740px){
  .headings{
    margin-left: 10.7rem;
  }

  .tech-stack{
    flex-direction: column;
    justify-content: center;
  }

  .tech-images{
    flex-wrap: wrap;
    justify-content: center;
  }

  .tech-stack p{
    margin: 0 auto;
    text-align: center;
  }

  .tech-images img{
    width: 50%;
    max-width: 150px;
  }
}

@media (max-width: 690px){
  .individual{
    flex-direction: column;
    align-items: center;
    margin: 0rem;
    min-width: 275px !important;
  }

  .headings{
    margin-left: 0rem;
  }

  .intro{
    position: relative;
    width: 350px;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro > *{
    text-align: center;
    position: static !important;
  }

  .divider{
    margin: 3rem;
    width: 90%;
  }

  .intro > p{
    margin: 0rem;
  }

  .headings{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .transform-blob2{
    left: 28%;
    top: -15%;
    transform: scale(.8);
  }

  #main-picture{
    border-radius: 30%;
    margin-left: 0rem;
    margin-top: 2.4rem;
    order: -1;
    width: 315px;
  }

}

@media (max-width: 640px) {
  .transform-blob2{
    display: none;
  }
}

@media (max-width: 500px) {
  .relative{
    max-width: 100%;
    min-width: auto;
  }

  .descriptions{
    min-width: auto;
  }

  .individual > *{
    width: 100%;
  }

  .buttons > a{
    width: 100px;
  }

  .descriptions > p{
    font-size: 15px;
  }

  .tech-div > p {
    font-size: 15px;
  }
}

@media (max-width:470px){
  
  li{
    transform: scale(.8);
  }

  label{
    font-size: 12px;
  }

  .about-me{
    padding: 1rem;
  }

  .footer{
    margin: 0 auto;
    margin-left: -.75rem;
  }

}

@media(max-width:400px){
  label{
    font-size: 10px;
    font-weight: 900;
  }
}

